project_id     = "{{ gcp_project_id }}"
region         = "{{ gcp_region }}"
zone           = "{{ gcp_zone }}"
name_label     = "{{ gcp_name_label }}"
image          = "{{ gcp_image }}"
machine_type   = "{{ gcp_machine_type }}"
instance_count = {{ gcp_instance_count }}
public_key     = "{{ gcp_instance_public_key }}"